<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comprehensiveAlarm.dao.DOutdeviceinfoMapper" >
  <resultMap id="BaseResultMap" type="com.comprehensiveAlarm.po.DOutdeviceinfo" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DEVICEID" property="deviceid" jdbcType="VARCHAR" />
    <result column="DEVICENAME" property="devicename" jdbcType="VARCHAR" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="CIVILCODE" property="civilcode" jdbcType="VARCHAR" />
    <result column="BLOCK" property="block" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PARENTID" property="parentid" jdbcType="VARCHAR" />
    <result column="SAFETYWAY" property="safetyway" jdbcType="INTEGER" />
    <result column="REGISTERWAY" property="registerway" jdbcType="INTEGER" />
    <result column="CERTNUM" property="certnum" jdbcType="VARCHAR" />
    <result column="CERTIFIABLE" property="certifiable" jdbcType="INTEGER" />
    <result column="ERRCODE" property="errcode" jdbcType="INTEGER" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="SECRECY" property="secrecy" jdbcType="INTEGER" />
    <result column="DEVICETYPE" property="devicetype" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SOURCECENTER" property="sourcecenter" jdbcType="VARCHAR" />
    <result column="ISWITHCHILD" property="iswithchild" jdbcType="VARCHAR" />
    <result column="CAMERATYPE" property="cameratype" jdbcType="VARCHAR" />
    <result column="PTZTYPE" property="ptztype" jdbcType="VARCHAR" />
    <result column="POSITIONTYPE" property="positiontype" jdbcType="VARCHAR" />
    <result column="ROOMTYPE" property="roomtype" jdbcType="VARCHAR" />
    <result column="USETYPE" property="usetype" jdbcType="VARCHAR" />
    <result column="SUPPLYLIGHTTYPE" property="supplylighttype" jdbcType="VARCHAR" />
    <result column="DIRECTIONTYPE" property="directiontype" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="STREAMENCRYPT" property="streamencrypt" jdbcType="VARCHAR" />
    <result column="ISCOLLECTED" property="iscollected" jdbcType="VARCHAR" />
    <result column="OFFLINE_TIME" property="offlineTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.comprehensiveAlarm.po.DOutdeviceinfo" extends="BaseResultMap" >
    <result column="CERTIFICATE" property="certificate" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DEVICEID, DEVICENAME, MANUFACTURER, MODEL, OWNER, PASSWORD, CIVILCODE, BLOCK, 
    LONGITUDE, LATITUDE, ADDRESS, PARENTID, SAFETYWAY, REGISTERWAY, CERTNUM, CERTIFIABLE, 
    ERRCODE, ENDTIME, SECRECY, DEVICETYPE, DESCRIPTION, STATUS, SOURCECENTER, ISWITHCHILD, 
    CAMERATYPE, PTZTYPE, POSITIONTYPE, ROOMTYPE, USETYPE, SUPPLYLIGHTTYPE, DIRECTIONTYPE, 
    IP, STREAMENCRYPT, ISCOLLECTED, OFFLINE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CERTIFICATE
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from d_outdeviceinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_outdeviceinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfoExample" >
    delete from d_outdeviceinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfo" >
    insert into d_outdeviceinfo (ID, DEVICEID, DEVICENAME, 
      MANUFACTURER, MODEL, OWNER, 
      PASSWORD, CIVILCODE, BLOCK, 
      LONGITUDE, LATITUDE, ADDRESS, 
      PARENTID, SAFETYWAY, REGISTERWAY, 
      CERTNUM, CERTIFIABLE, ERRCODE, 
      ENDTIME, SECRECY, DEVICETYPE, 
      DESCRIPTION, STATUS, SOURCECENTER, 
      ISWITHCHILD, CAMERATYPE, PTZTYPE, 
      POSITIONTYPE, ROOMTYPE, USETYPE, 
      SUPPLYLIGHTTYPE, DIRECTIONTYPE, IP, 
      STREAMENCRYPT, ISCOLLECTED, OFFLINE_TIME, 
      CERTIFICATE)
    values (#{id,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR}, #{devicename,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{civilcode,jdbcType=VARCHAR}, #{block,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{address,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{safetyway,jdbcType=INTEGER}, #{registerway,jdbcType=INTEGER}, 
      #{certnum,jdbcType=VARCHAR}, #{certifiable,jdbcType=INTEGER}, #{errcode,jdbcType=INTEGER}, 
      #{endtime,jdbcType=TIMESTAMP}, #{secrecy,jdbcType=INTEGER}, #{devicetype,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{sourcecenter,jdbcType=VARCHAR}, 
      #{iswithchild,jdbcType=VARCHAR}, #{cameratype,jdbcType=VARCHAR}, #{ptztype,jdbcType=VARCHAR}, 
      #{positiontype,jdbcType=VARCHAR}, #{roomtype,jdbcType=VARCHAR}, #{usetype,jdbcType=VARCHAR}, 
      #{supplylighttype,jdbcType=VARCHAR}, #{directiontype,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{streamencrypt,jdbcType=VARCHAR}, #{iscollected,jdbcType=VARCHAR}, #{offlineTime,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfo" >
    insert into d_outdeviceinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deviceid != null" >
        DEVICEID,
      </if>
      <if test="devicename != null" >
        DEVICENAME,
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER,
      </if>
      <if test="model != null" >
        MODEL,
      </if>
      <if test="owner != null" >
        OWNER,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="civilcode != null" >
        CIVILCODE,
      </if>
      <if test="block != null" >
        BLOCK,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="safetyway != null" >
        SAFETYWAY,
      </if>
      <if test="registerway != null" >
        REGISTERWAY,
      </if>
      <if test="certnum != null" >
        CERTNUM,
      </if>
      <if test="certifiable != null" >
        CERTIFIABLE,
      </if>
      <if test="errcode != null" >
        ERRCODE,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="secrecy != null" >
        SECRECY,
      </if>
      <if test="devicetype != null" >
        DEVICETYPE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sourcecenter != null" >
        SOURCECENTER,
      </if>
      <if test="iswithchild != null" >
        ISWITHCHILD,
      </if>
      <if test="cameratype != null" >
        CAMERATYPE,
      </if>
      <if test="ptztype != null" >
        PTZTYPE,
      </if>
      <if test="positiontype != null" >
        POSITIONTYPE,
      </if>
      <if test="roomtype != null" >
        ROOMTYPE,
      </if>
      <if test="usetype != null" >
        USETYPE,
      </if>
      <if test="supplylighttype != null" >
        SUPPLYLIGHTTYPE,
      </if>
      <if test="directiontype != null" >
        DIRECTIONTYPE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="streamencrypt != null" >
        STREAMENCRYPT,
      </if>
      <if test="iscollected != null" >
        ISCOLLECTED,
      </if>
      <if test="offlineTime != null" >
        OFFLINE_TIME,
      </if>
      <if test="certificate != null" >
        CERTIFICATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="devicename != null" >
        #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="civilcode != null" >
        #{civilcode,jdbcType=VARCHAR},
      </if>
      <if test="block != null" >
        #{block,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="safetyway != null" >
        #{safetyway,jdbcType=INTEGER},
      </if>
      <if test="registerway != null" >
        #{registerway,jdbcType=INTEGER},
      </if>
      <if test="certnum != null" >
        #{certnum,jdbcType=VARCHAR},
      </if>
      <if test="certifiable != null" >
        #{certifiable,jdbcType=INTEGER},
      </if>
      <if test="errcode != null" >
        #{errcode,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="secrecy != null" >
        #{secrecy,jdbcType=INTEGER},
      </if>
      <if test="devicetype != null" >
        #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sourcecenter != null" >
        #{sourcecenter,jdbcType=VARCHAR},
      </if>
      <if test="iswithchild != null" >
        #{iswithchild,jdbcType=VARCHAR},
      </if>
      <if test="cameratype != null" >
        #{cameratype,jdbcType=VARCHAR},
      </if>
      <if test="ptztype != null" >
        #{ptztype,jdbcType=VARCHAR},
      </if>
      <if test="positiontype != null" >
        #{positiontype,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null" >
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="usetype != null" >
        #{usetype,jdbcType=VARCHAR},
      </if>
      <if test="supplylighttype != null" >
        #{supplylighttype,jdbcType=VARCHAR},
      </if>
      <if test="directiontype != null" >
        #{directiontype,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="streamencrypt != null" >
        #{streamencrypt,jdbcType=VARCHAR},
      </if>
      <if test="iscollected != null" >
        #{iscollected,jdbcType=VARCHAR},
      </if>
      <if test="offlineTime != null" >
        #{offlineTime,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comprehensiveAlarm.po.DOutdeviceinfoExample" resultType="java.lang.Integer" >
    select count(*) from d_outdeviceinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update d_outdeviceinfo
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceid != null" >
        DEVICEID = #{record.deviceid,jdbcType=VARCHAR},
      </if>
      <if test="record.devicename != null" >
        DEVICENAME = #{record.devicename,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null" >
        MANUFACTURER = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null" >
        MODEL = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null" >
        OWNER = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.civilcode != null" >
        CIVILCODE = #{record.civilcode,jdbcType=VARCHAR},
      </if>
      <if test="record.block != null" >
        BLOCK = #{record.block,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        LONGITUDE = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        LATITUDE = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        PARENTID = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.safetyway != null" >
        SAFETYWAY = #{record.safetyway,jdbcType=INTEGER},
      </if>
      <if test="record.registerway != null" >
        REGISTERWAY = #{record.registerway,jdbcType=INTEGER},
      </if>
      <if test="record.certnum != null" >
        CERTNUM = #{record.certnum,jdbcType=VARCHAR},
      </if>
      <if test="record.certifiable != null" >
        CERTIFIABLE = #{record.certifiable,jdbcType=INTEGER},
      </if>
      <if test="record.errcode != null" >
        ERRCODE = #{record.errcode,jdbcType=INTEGER},
      </if>
      <if test="record.endtime != null" >
        ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.secrecy != null" >
        SECRECY = #{record.secrecy,jdbcType=INTEGER},
      </if>
      <if test="record.devicetype != null" >
        DEVICETYPE = #{record.devicetype,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcecenter != null" >
        SOURCECENTER = #{record.sourcecenter,jdbcType=VARCHAR},
      </if>
      <if test="record.iswithchild != null" >
        ISWITHCHILD = #{record.iswithchild,jdbcType=VARCHAR},
      </if>
      <if test="record.cameratype != null" >
        CAMERATYPE = #{record.cameratype,jdbcType=VARCHAR},
      </if>
      <if test="record.ptztype != null" >
        PTZTYPE = #{record.ptztype,jdbcType=VARCHAR},
      </if>
      <if test="record.positiontype != null" >
        POSITIONTYPE = #{record.positiontype,jdbcType=VARCHAR},
      </if>
      <if test="record.roomtype != null" >
        ROOMTYPE = #{record.roomtype,jdbcType=VARCHAR},
      </if>
      <if test="record.usetype != null" >
        USETYPE = #{record.usetype,jdbcType=VARCHAR},
      </if>
      <if test="record.supplylighttype != null" >
        SUPPLYLIGHTTYPE = #{record.supplylighttype,jdbcType=VARCHAR},
      </if>
      <if test="record.directiontype != null" >
        DIRECTIONTYPE = #{record.directiontype,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.streamencrypt != null" >
        STREAMENCRYPT = #{record.streamencrypt,jdbcType=VARCHAR},
      </if>
      <if test="record.iscollected != null" >
        ISCOLLECTED = #{record.iscollected,jdbcType=VARCHAR},
      </if>
      <if test="record.offlineTime != null" >
        OFFLINE_TIME = #{record.offlineTime,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null" >
        CERTIFICATE = #{record.certificate,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update d_outdeviceinfo
    set ID = #{record.id,jdbcType=VARCHAR},
      DEVICEID = #{record.deviceid,jdbcType=VARCHAR},
      DEVICENAME = #{record.devicename,jdbcType=VARCHAR},
      MANUFACTURER = #{record.manufacturer,jdbcType=VARCHAR},
      MODEL = #{record.model,jdbcType=VARCHAR},
      OWNER = #{record.owner,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      CIVILCODE = #{record.civilcode,jdbcType=VARCHAR},
      BLOCK = #{record.block,jdbcType=VARCHAR},
      LONGITUDE = #{record.longitude,jdbcType=DOUBLE},
      LATITUDE = #{record.latitude,jdbcType=DOUBLE},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      PARENTID = #{record.parentid,jdbcType=VARCHAR},
      SAFETYWAY = #{record.safetyway,jdbcType=INTEGER},
      REGISTERWAY = #{record.registerway,jdbcType=INTEGER},
      CERTNUM = #{record.certnum,jdbcType=VARCHAR},
      CERTIFIABLE = #{record.certifiable,jdbcType=INTEGER},
      ERRCODE = #{record.errcode,jdbcType=INTEGER},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      SECRECY = #{record.secrecy,jdbcType=INTEGER},
      DEVICETYPE = #{record.devicetype,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SOURCECENTER = #{record.sourcecenter,jdbcType=VARCHAR},
      ISWITHCHILD = #{record.iswithchild,jdbcType=VARCHAR},
      CAMERATYPE = #{record.cameratype,jdbcType=VARCHAR},
      PTZTYPE = #{record.ptztype,jdbcType=VARCHAR},
      POSITIONTYPE = #{record.positiontype,jdbcType=VARCHAR},
      ROOMTYPE = #{record.roomtype,jdbcType=VARCHAR},
      USETYPE = #{record.usetype,jdbcType=VARCHAR},
      SUPPLYLIGHTTYPE = #{record.supplylighttype,jdbcType=VARCHAR},
      DIRECTIONTYPE = #{record.directiontype,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      STREAMENCRYPT = #{record.streamencrypt,jdbcType=VARCHAR},
      ISCOLLECTED = #{record.iscollected,jdbcType=VARCHAR},
      OFFLINE_TIME = #{record.offlineTime,jdbcType=VARCHAR},
      CERTIFICATE = #{record.certificate,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update d_outdeviceinfo
    set ID = #{record.id,jdbcType=VARCHAR},
      DEVICEID = #{record.deviceid,jdbcType=VARCHAR},
      DEVICENAME = #{record.devicename,jdbcType=VARCHAR},
      MANUFACTURER = #{record.manufacturer,jdbcType=VARCHAR},
      MODEL = #{record.model,jdbcType=VARCHAR},
      OWNER = #{record.owner,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      CIVILCODE = #{record.civilcode,jdbcType=VARCHAR},
      BLOCK = #{record.block,jdbcType=VARCHAR},
      LONGITUDE = #{record.longitude,jdbcType=DOUBLE},
      LATITUDE = #{record.latitude,jdbcType=DOUBLE},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      PARENTID = #{record.parentid,jdbcType=VARCHAR},
      SAFETYWAY = #{record.safetyway,jdbcType=INTEGER},
      REGISTERWAY = #{record.registerway,jdbcType=INTEGER},
      CERTNUM = #{record.certnum,jdbcType=VARCHAR},
      CERTIFIABLE = #{record.certifiable,jdbcType=INTEGER},
      ERRCODE = #{record.errcode,jdbcType=INTEGER},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      SECRECY = #{record.secrecy,jdbcType=INTEGER},
      DEVICETYPE = #{record.devicetype,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SOURCECENTER = #{record.sourcecenter,jdbcType=VARCHAR},
      ISWITHCHILD = #{record.iswithchild,jdbcType=VARCHAR},
      CAMERATYPE = #{record.cameratype,jdbcType=VARCHAR},
      PTZTYPE = #{record.ptztype,jdbcType=VARCHAR},
      POSITIONTYPE = #{record.positiontype,jdbcType=VARCHAR},
      ROOMTYPE = #{record.roomtype,jdbcType=VARCHAR},
      USETYPE = #{record.usetype,jdbcType=VARCHAR},
      SUPPLYLIGHTTYPE = #{record.supplylighttype,jdbcType=VARCHAR},
      DIRECTIONTYPE = #{record.directiontype,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      STREAMENCRYPT = #{record.streamencrypt,jdbcType=VARCHAR},
      ISCOLLECTED = #{record.iscollected,jdbcType=VARCHAR},
      OFFLINE_TIME = #{record.offlineTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>